<% if notice || alert %>
  <div
    class="
      alert
      <%= 'info' if notice %>
      <%= 'info' if alert %>
    "
    data-controller="flashes"
  >
    <p class="text"><%= notice&.html_safe || alert&.html_safe %></p>
    <button data-action="click->flashes#closeFlash" class="close-flash"><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="close-svg"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
      </svg>
    </button>
  </div>
<% end %>
